data/pf_suvs_i302_1s2025_cleaned.csv
data/pf_suvs_i302_1s2025.csv
data/pf_suvs_i302_1s2025_to_colab.csv

data/pf_suvs_i302_1s2025.zip
data/pf_suvs_i302_1s2025_cleaned.zip
data/pf_suvs_i302_1s2025_to_colab.zip

catboost_info/
